<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/christianres/assets/css/style.css">
        <title>Christian Resources - {{ page.title }}</title>
    </head>
    
    <main>
        <h1>{{ page.title }}</h1>
        <section>
            {{ content }}
        </section>
    </main>

    <footer>
        <blockquote>
            <p>May Christ guide us to the end of the age!</p>
        </blockquote>
        <p>Made by Elias Oberholtz</p>
    </footer>
</html>